.container {
	width: 1170px;
	margin: 0 auto;
}

.relative-box {
	width: 400px;
	height: 400px;
	background-color: yellow;
	margin: 0 auto;
	position: relative;

	transition-property: all;
	transition-duration: 2s;
	transition-timing-function: ease-in;
	transition-delay: 1s;

	/*transition: all 2s ease-in 1s;*/
	
	
}

.relative-box:hover {
	background-color: orange;
	-webkit-box-shadow: 0px 10px 13px -7px #000000, 4px 0px 39px 22px rgba(67,255,66,0.66); 
	box-shadow: 0px 10px 13px -7px #000000, 4px 0px 39px 22px rgba(67,255,66,0.66);

}


.absolute-box {
	width: 100px;
	height: 100px;
	background-color: red;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	transition-property: all;
	transition-duration: 2s;
	transition-timing-function: ease-in-out;
	transition-delay: 1s;
}

.absolute-box:hover {
	transform: translate(-50%, -50%) rotate(45deg);
	background-color: blue;
}

/* Section 2 */

.ball {
	width: 150px;
	height: 150px;
	background-color: greenyellow;
	border-radius: 100%;

	position: relative;

	animation-name: jump;
	animation-duration: 5s;
	animation-timing-function: ease;
	animation-delay: 2s; 
	animation-direction: alternate;
	animation-iteration-count: infinite;

/*	animation: jump 5s ease 2s alternate infinite;
*/}

@keyframes jump {
  0%   {top: 0px; left: 0px; background: red;}
  25%  {top: 0px; left: 100px; background: blue;}
  50%  {top: 100px; left: 100px; background: yellow;}
  75%  {top: 100px; left: 0px; background: green;}
  100% {top: 0px; left: 0px; background: red;}
}








